body {
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin: 10px;
    
    background-color: #ffffff;
}

.img_robo {
    width: 400px;
    height: 400px;
    justify-content: space-around;
    align-items: initial;
}

#icon {
    display: flex;
    justify-content: space-around;
    align-items: initial;
    margin-top: 20px;
    
    
}

.header2 {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: rgb(240, 248, 255);
    padding: 20px;
    border-radius: 20px;
}









































nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

h1 {
    color: #0000cd;
    margin: 0;

}