body {
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin: 10px;
    
    background-color: #ffffff;
}

.img_robo {
    width: 400px;
    height: 400px;
    justify-content: space-around;
    align-items: initial;
}

#icon {
    display: flex;
    justify-content: space-around;
    align-items: initial;
    margin-top: 20px;
    
    
}



.header_header2 {

    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #d6e8ff;
    border-radius: 20px;
}

.menu.botoes{
   position: absolute;
    right: 40px;
    top: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.botao1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #d6e8ff;
}









































#nav2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}
#id_h1 {
    color: #0000cd;
    margin: 0;

}